<!--<div-->
<!--  class="drop-container"-->
<!--  ngFileDrop-->
<!--  [options]="options"-->
<!--  (uploadOutput)="onUploadOutput($event)"-->
<!--  [uploadInput]="uploadInput"-->
<!--  [ngClass]="{ 'is-drop-over': dragOver }"-->
<!--&gt;-->
<!--  <h1>Drag &amp; Drop</h1>-->
<!--</div>-->

<label class="upload-button">
  <input
    type="file"
    ngFileSelect
    [options]="options"
    (uploadOutput)="onUploadOutput($event)"
    [uploadInput]="uploadInput"
    multiple
  />
<!--  or choose file(s)-->
</label>

<button type="button" class="start-upload-btn" (click)="startUpload()">
  Start Upload
</button>
<div *ngIf="postRequestResponse">
  <div *ngFor="let p of postRequestResponse">
    <img src="{{hi(p.image)}}"/>
    <div>
      <span>comment</span>
      <input type="text" #comment>
      <button type="button" class="start-upload-btn" (click)="sendComment(comment.value, p)">
        send
      </button>
      <button type="button" class="start-upload-btn" (click)="getComments(p)">
        get comments
      </button>
    </div>
    <div *ngIf="comments">
      <p *ngFor="let c of comments">
        {{c.content}}
        <button type="button" class="start-upload-btn" (click)="deleteComment(c, p)">
          delete
        </button>
      </p>
    </div>
  </div>
</div>


