<body>
    <section style="height: inherit;">
        <div class="flex-container">
            <div style="display: inline-block;">
                <mat-card class="example-card">
                  <div style="float: right; margin: 0; padding: 0;">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                          <button mat-menu-item>
                            <mat-icon>bookmarks</mat-icon>
                            <span>Save</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>warning</mat-icon>
                            <span>Report</span>
                          </button>
                        </mat-menu>
                      </div>
                    <mat-card-header style="margin-bottom: 20px;">
                      <div mat-card-avatar class="example-header-image" style="background-color: burlywood;"></div>
                      <!-- + photo  + -->
                      <mat-card-title style="margin: 0;">Shiba Inu</mat-card-title>
<!--                      <mat-card-subtitle style="margin: 0; padding: 0; font-size: small;">{{ post.title}}</mat-card-subtitle>-->
                    </mat-card-header>
                    <img mat-card-image src="{{hi(postUrl)}}" alt="Photo of a Shiba Inu">
<!--                    <mat-card-content>-->
<!--                      <p>-->
<!--                        {{ post['body']}}-->
<!--                      </p>-->
<!--                    </mat-card-content>-->
                    <mat-card-actions>
                      <!-- problem -->
                      <button mat-button style="font-size: small; font-weight: 600;">LIKE</button>
                      <button mat-button style="font-size: small; font-weight: 600;">SHARE</button>
                      <button mat-button (click)="assign()" style="font-size: small; font-weight: 600;">COMMENTS</button>
                    </mat-card-actions>
                  </mat-card>
            </div>

            <div *ngIf="toggle">
                <mat-card class="example-card" style="display:flex ; flex-direction: column; justify-content: space-between;">
                  <div>
                    <mat-card-header>
                      <mat-card-title style="margin-top: 3px;">Comments</mat-card-title>
                    </mat-card-header>
                    <mat-card-content id="style-8" class="scrollbar">
                      <div *ngFor="let comment of comments"  style="display: flex; justify-content: space-between; width: 390px;">
                        <div style="display: flex;">
                          <span class="material-icons" style="margin-top: 10px;">
                            account_circle
                          </span>
                            <p style="margin: 10px;">
                              {{comment.content}}
                            </p>
                        </div>
                          <button mat-icon-button (click)="deleteComment(comment.id)">
                            <mat-icon style="transform: scale(.5); color: rgba(44, 44, 44, 0.555);">clear</mat-icon>
                          </button>
                            <!-- <mat-divider></mat-divider> -->
                      </div>
                    </mat-card-content>
                  </div>
                  <div style="display: flex; align-items: baseline;">
<!--                    <form class="example-form" style="margin-bottom: -30px; display: inline;">-->
                      <mat-form-field class="example-full-width">
                        <mat-label>Leave a comment</mat-label>
                        <textarea matInput style="resize: none;" #newComment></textarea>
                      </mat-form-field>
<!--                    </form>-->
                    <div>
                      <button mat-mini-fab color="primary" style="transform: rotate(-30deg) scale(0.8);">
                        <mat-icon style="transform: scale(0.8);" (click)="sendComment(newComment.value); clearContents(newComment);">send</mat-icon>
                        <!-- <mat-icon style="transform: scale(0.8);">send</mat-icon> -->
                      </button>
                    </div>
                  </div>
                </mat-card>
            </div>
        </div>
          <div>
            <a href=" " routerLinkActive="active" class="back">
                <mat-icon aria-hidden="false" aria-label="Example home icon" color="A400">home</mat-icon>
                <span style="padding-left: 5px;">Back</span>
            </a>
          </div>
    </section>
</body>


